<div class="container mt-3">
<h1 class="mt-5 mb-5 text-center">Membres de <%= @group.name %></h1>



    <% @group.profiles.each do | profile |%>
    <div class="card-product">
      <% if profile.photo.attached? %>
        <%= cl_image_tag(profile.photo.key, height: 300, width: 400, crop: :fill)%>
      <% end %>
      <div class="card-product-infos">
        <h2><%= profile.username%></h2>

     </div>
  </div>
  <% end %>
<div class="edit-btn">
<%= link_to "Revenir en arrière", :back %>
</div>
</div>
