<div class="container">
  <div class="btn-div">
    <%= link_to "Créer un groupe", "#", class: "button-form btn btn-link" %>
  </div>

<% if @groups.any? %>
  <% @groups.each do |group| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" alt="<%= group.name %>" />
      <div class="card-product-infos">
        <h2><%= group.name %></h2>
        <p><%= group.description %></p>
      </div>
    </div>
  <% end %>
<% else %>
  <p>Vous n'appartenez à aucun groupe pour le moment.</p>
<% end %>
</div>
