<h1 style="margin-left: 150px; margin-top: 15px;">Nom du groupe</h1>

<div class="button-group">
  <div class="button-group-category" >
    Les Sorties
  </div>

  <div class="button-group-category" >
    Crée ta Sortie
  </div>

  <div class="button-group-category" >
    Les Membres
  </div>
</div>
