<h1 style="margin-left: 150px; margin-top: 15px;"><%= @group_name %></h1>

<div class="button-group">
  <div class="button-group-category" >
    <%= link_to 'Les sorties', group_walks_path(@group) %>
  </div>

  <div class="button-group-category" >
    <%= link_to 'Crée ta Sortie', new_group_walk_path(@group) %>
  </div>

  <div class="button-group-category" >
    Les Membres
  </div>
</div>
