<!-- app/views/shared/_header.html.erb -->
<div class= "header-container">
    <div class="header fixed-top">
      <%= image_tag "pp facebook.jpg", class: "avatar-bordered", alt: "avatar-bordered" %>
 </div>
</div>
