.button-form {
  border-radius: 9px;
  background-color: #e36251;
  box-shadow: 8px 8px 5px -7px rgba(0, 0, 0, 0.13);
  width: auto;
  text-align: center;
  color: #f1e5d1 !important;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  margin-left: 10px;
  margin-right: 10px;
}

.button-group-category-showgr {
  background-color: rgb(252, 251, 251);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 80px;
  border-style: groove;
  border-radius: 8%;
  box-shadow: 8px 8px 5px -7px rgba(0, 0, 0, 0.13);
  padding: 10px;
  position: relative;
}

.card-link {
  text-decoration: none;
  color: inherit; /* Utilisez inherit pour hériter de la couleur du parent */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* Pour s'assurer que le lien couvre tout */
}

.card-content {
  padding: 15%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.button-group-category-showgr .card-link:hover {
  background-color: rgba(0, 0, 0, 0.05); /* Ajoute un léger changement de couleur au survol */
}
